body {
  font-family: Helvetica;
}

h1 {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../Pictures/pattern.jpeg");
}

.brushes {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.frames {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.blue {
  color: blue;
  font-weight: bold;
}
